.backButton {
    display: block;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 8px 15px;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 20px;
}

.backButton:hover {
    border-color: #ff0000b7;
    background-color: #ff000035;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}